*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
body, html, #app{
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}
button, input, textarea{
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
input:focus, textarea:focus{
  outline: 0;
  box-shadow: 0 0 3px 1px #3c9;
}
.big-button{
  background: #3c9;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin: 20px auto;
  max-width: 350px;
  padding: 12px;
  transition: .3s color, .3s background;
  width: 85%;
}
.big-button:focus{
  background: #0a7;
  outline: 0;
}
.big-button:not(:disabled):hover{
  background: #0a7;
  cursor: pointer;
}
.big-button:disabled{
  background: #999;
  color: #ccc;
}
.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 700px;
  min-height: 100%;
  overflow: auto;
  width: 95%;
}
.date{
  display: inline-block;
  float: right;
}
